.error {
  text-align: center;
  &__code {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    color: var(--black-color);
    margin-top: 285px;
  }

  &__message {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--black-color);
    margin-top: 11px;
  }
  &__button-link {
    background: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    color: var(--primary-color);
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }
}
