.message {
  background: #e5e5e5;
  border-radius: 0px 12px 12px 12px;
  display: flex;
  align-items: flex-end;
  justify-content: start;
  margin-bottom: 10px;
  float: left;
  margin-top: 720px;
}
.message p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  padding: 2px 2px;
}
.me {
    border-radius: 12px 12px 0px 12px;
    background: rgba(0, 123, 255, 0.3);
    display: flex;
    align-items: flex-end;
    justify-content: end;
    float: right;
    margin-top: 750px;
}