.profile {
  display: grid;
  grid-template-columns: auto 500px auto;
  grid-template-rows: 30% auto 30%;
  height: 100vh;
  &__avatar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 200px;
    padding-top: 50px;
    height: 200px;
  }
  &__photo {
    background: url('../static/img/Ellipse 3.png') no-repeat;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    display: block;
    margin: auto;
  }
  &__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: center;
  }
  &__inf {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 405px;
  }
  &__change {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  &__button {
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    background: #007bff;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    width: 230px;
  }
  &__button-link {
    background: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #007bff;
    margin: 0 auto 0 0;

  }
}
button {
  border: none;
  display: block;
}
