.search-form {
  &__input {
    border: none;
    width: 80%;
    height: 30px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 123, 255, 0.3) url('../static/img/search_icon.png')
      no-repeat;
    background-position: 10px !important;
    box-sizing: border-box;
    display: block;
  }
  &__input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #a5a0a0;
    margin-left: 30px;
  }
  &__content{
    margin-bottom: 20px;
  }
}
