---
css:
    - error.css
code: 404
description: Not Found
button_name: Back to chats
---

{{!< base}}

<main>
  <div class="error">
    <p class="error__code">{{code}}</p>
    <p class="error__message">{{description}}</p>
    {{> button button_name = button_name button_class = "error__button-link" onclick="location.href='./chat.html'"}}
  </div>
</main>