---
css:
    - login.css
---
{{!< base}}

<main>
  <form class="login-form">
    <div class="login-form__content">
      {{> title title_name="Sign in" title_class="login-form__title"}}
      {{> input id="login-input" input_class="login-form__login-input" label_name="Login" input_type="text"}}
      {{> input id="password-input" input_class="login-form__password-input" label_name="Password" input_type="password"}}
      {{> button button_name = "Sign in" button_class = "login-form__button" onclick="location.href='./chat.html'"}}
      {{> button button_name = "Create account" button_class = "login-form__button-link" onclick="location.href='./registration.html'"}}
    </div>
  </form>
</main>