---
css:
    - registration.css
---
{{!< base}}
<main>
    <form class="reg-form">
    <div class="reg-form__content">
    {{> title title_name="Create account" title_class="reg-form__title"}}
    {{> input id="reg-email-input" input_class="reg-form__email-input" label_name="Email" input_type="email"}}
    {{> input id="reg-login-input" input_class="reg-form__login-input" label_name="Login" input_type="text" }}
    {{> input id="reg-name-input" input_class="reg-form__name-input" label_name="Name" input_type="text"}}
    {{> input id="reg-surname-input" input_class="reg-form__surname-input" label_name="Surname" input_type="text"}}
    {{> input id="reg-phone-input" input_class="reg-form__phone-input" label_name="Phone" input_type="tel"}}
    {{> input id="reg-password-input" input_class="reg-form__password-input" label_name="Password" input_type="password"}}
    {{> input id="reg-password-conf-input" input_class="reg-form__password-conf-input" label_name="Confirm password" input_type="password"}}
    {{> button button_name = "Create account" button_class = "reg-form__button" onclick="location.href='./chat.html'"}}
    {{> button button_name = "Sign in" button_class = "reg-form__button-link" onclick="location.href='./index.html'"}}
  </div>
</form>
</main>